.container {
  background-color: rgb(255, 242, 225);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-form {
  background-color: rgb(108, 178, 180);
  width: 50%;
  height: 40vh;
  border-radius: 10px;
  display: flex;
}
.col {
  width: 50%;
}

.btn-div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.btn {
  width: 100px;
  height: 50px;
  background-color: rgb(231, 229, 225);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  color: rgb(9, 11, 110);
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 60px 3px rgba(0, 0, 0, 0.2);
}

.btn-reset {
  position: absolute;
  bottom: 20px;
}

.results {
  font-size: 7rem;
  text-align: center;
  margin-top: 20%;
}

.d-none {
  display: none;
}
